

body{
    background-color: rgb(213, 213, 231);
    background-image: url(assets/images/краска.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 30px, 50px, 30px, 50px ;
    box-sizing: border-box;
    
}
/* @media only screen and (max-width: 767px) {   body {  background-image: url(assets/images/краски2.jpeg);
    color: black;

} } */


.main{
    min-height: calc(100vh - 90px);
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav a{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin-right: 12.5%;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.5rem;
}
a:hover{
    color: #db7f34;

}
/* .services{
    background-color: grey;
    color: white;
} */

/* .content-grow {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-right: 10%;
    margin-left: 10%;
} */
/*cекция главного экрана */
.main {
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    

}
.titul {
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    color: white;
    font-size: 1.5em;
}
.titul__button-main{
    height: 60px;
    width: 170px;
    border-radius: 10px;
    /* padding: 1em; */
    font-size: 1em;
    text-align: center;
    background: rgba(237, 255, 78, 0.341);
  color: white;
  margin-bottom: 30px;
}

/* .titul__button:focus{
    background: rgb(74, 94, 107, 0.541 );
    border-radius: inherit;
} */
.titul__button-main:hover{
    box-shadow: 0 0 10px 0 #db7f34 inset, 0 0 10px 4px #db7f34;
}
/* конец cекция главного экрана */

.footer {
    height: 50px;
    
    display: flex;
    flex: 0 0 auto;
    align-content: center;
    justify-content: center;
    color: white;
}
.footer__contacts{
    display: flex;
    align-items: center;
    padding-right: 46px;
    
}
